<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/globalStyle.css">
    <link rel="stylesheet" href="styles/toothbrush.css">
</head>

<body>
    <main>
        <section>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.81 33.3">
                <defs>
                </defs>
                <title>toothbrush</title>
                <g id="toothbrush">
                    <line class="cls-1" x1="5.5" y1="20.49" x2="5.5" />
                    <line class="cls-1" x1="8.82" y1="20.49" x2="8.82" />
                    <line class="cls-1" x1="12.14" y1="20.49" x2="12.14" />
                    <line class="cls-1" x1="15.46" y1="20.49" x2="15.46" />
                    <line class="cls-1" x1="18.78" y1="20.49" x2="18.78" />
                    <line class="cls-1" x1="22.1" y1="20.49" x2="22.1" />
                    <line class="cls-1" x1="25.42" y1="20.49" x2="25.42" />
                    <line class="cls-1" x1="28.74" y1="20.49" x2="28.74" />
                    <line class="cls-1" x1="32.06" y1="20.49" x2="32.06" />
                    <line class="cls-1" x1="35.38" y1="20.49" x2="35.38" />
                    <rect class="cls-2" y="20.49" width="283.81" height="9.11" rx="4.56" ry="4.56" />
                    <path class="cls-3" d="M1.31,28.24S7.4,33.3,18.78,33.3A55,55,0,0,0,38.7,29.6" />
                </g>
            </svg>
        </section>
    </main>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="javascript/toothbrush.js"></script>
</body>
</html>
