.cls-1 {
  fill: #fff;
}

.cls-2 {
  fill: #999;
}

.cls-3 {
  fill: #8cc63f;
}


* {
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    pointer-events: none;

    svg {
        height: 100vh;
        width: 100vw;
    }
    text {
        text-anchor: middle;
        fill: black;
    }
}
