object.section-filled {
    height: 100vh;
    // padding: 6rem 3rem 0 3rem;
}




.main-section {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


.air-background {
    background-color: #64dbff;
}

.ground-background {
    background-color: #999999;
}

main {
    > section {
        position: relative;
        h2 {
            // position: absolute;
            padding: 1rem 0 1rem 1rem;
            color: white;
            // z-index: 2;
            font-size: 2.3em;
        }

        #first-content-section {
            position: relative;
            > div {
                display: flex;
                object {
                    display: block;

                    &:nth-child(1) {
                        // width: 40%;
                        flex-grow: 1;
                        flex-shrink: 0.8;

                    }
                    &:nth-child(2) {
                        // width: 60%;
                        flex-grow: 6;
                        flex-shrink: 5;
                    }
                }
            }
            footer {
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                form {
                    margin-bottom: 0.5em;
                    legend {
                        margin-bottom: 0.5em;
                    }
                    fieldset {
                        display: flex;
                        flex-wrap: wrap;
                        span {
                            margin: 0 0.5rem 0.5rem 0;
                            $element-height: 2rem;
                            display: block;
                            background-color: white;
                            border-radius: 2rem;
                            width: 30%;
                            height: $element-height;
                            max-width: 20em;
                            padding: 0.5rem;
                            position: relative;

                            label {
                                position: absolute;
                                top: 0;
                                left: 0;
                                padding-left: 0.65rem; // background image position
                                width: 100%;
                                height: $element-height;
                                text-align: center;
                                line-height: $element-height;
                                display: block;
                                cursor: pointer;
                            }

                            input {
                                visibility: hidden;
                            }

                            input:checked + label {
                                background: rgba(0,0,0,0) url("../images/radiobutton-selected.svg") no-repeat;
                                background-position: 0.65rem 0px;
                            }
                            input:not(:checked) + label {
                                background: rgba(0,0,0,0) url("../images/radiobutton-unselected.svg") no-repeat;
                                background-position: 0.65rem 0px;
                            }
                        }
                    }
                }
            }
        }
        #second-content-section {
            > object {
                width: 100vw;
                overflow: hidden;
            }
            position: relative;
            #information-about-subject {
                transform: translate(0, 0);
                transition: all 2s;
                &.disabled-subject-info {
                    transform: translate(120%, 0);
                }
                bottom: 2rem;
                right: 2rem;
                position: absolute;
                background-color: white;
                border-radius: 2rem;
                > img {
                    margin: 1rem auto;
                    display: block;
                    height: 1.5rem;
                }
                height: 17em;
                width: 30em;
                > h3 {
                    padding: 0 2rem 1rem 2rem;
                    text-align: center;
                }
                > p, > a {
                    padding: 0 2rem 1rem 2rem;
                    line-height: 1.2em;
                }
            }
        }
    }
    #third-content-section {
        overflow: hidden;
        #toothbrush {
            pointer-events: none;
            position: absolute;
            top: 0;
            left: -1.7rem;
            width: 20rem;
        }
        section {
            ul {
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                width: 100vw;
                li {

                    flex-shrink: 0.5;
                    display: block;
                    height: 10rem;
                    width: 10rem;
                    padding: 3rem;
                    position: relative;

                    > * {
                        -webkit-touch-callout: none;
                        -webkit-user-select: none;
                        -khtml-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }

                    object {
                        height: 100%;
                        width: 100%;
                    }

                    h4 {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        pointer-events: none; // else you will select the text during the brushing
                    }
                }
            }
        }
    }
}
