.cls-1 {
    stroke: #fff;
    stroke-width: 0.75px;
}

#map-hover-info {
    pointer-events: none;
}

body {
    padding: 15vw 15vw 15vw 0;
}

* {
    overflow: hidden;
}

svg {
    max-height: 61vh;
}

#map-container.not-loaded path {
    fill: white;
}
